/* colors of italics in Edit mode all notes in a vault */
.cm-em, em {
    color: #15bd31 !important;
}

.cm-strong, strong {
    color: #c4002b !important;
}

/* headings for editor and preview */
.cm-header-1, .markdown-preview-view h1
{  
  color: #e31b3d !important;
}

.cm-header-2, .markdown-preview-view h2
{  
  color: #f71bde !important;
}

.cm-header-3, .markdown-preview-view h3
{
  color: #F49145 !important;
}

.cm-header-4, .markdown-preview-view h4
{  
  color: #62DCF6 !important;
  font-variant:normal !important;
}

.cm-header-5, .markdown-preview-view h5
{
  color: #94F434 !important;
  font-variant:normal !important;
}

.cm-header-6, .markdown-preview-view h6
{   
  color: #ff5555 !important;
  font-variant:normal !important;
}